body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: auto;
    margin: 0;
    padding: 0;
}

button {
    padding: 20px;
    width: 72px;
    height: 80px;
    margin: 4px 0;
    cursor: pointer;
    border: black solid 1px;
    border-radius: 16px;
}

.operation-buttons {
    background-color: bisque;
}

.calculator-body {
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 8px;
    width: 22rem;
    height: 33rem;
}
.calculator-functions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.calculator-functions.extra {
    display: flex;
    justify-content: space-between;
    margin: 0 19px 0;
}

.calculator-digits-row {
    display: flex;
    gap: 4px;
}

.calculator-operations {
    display: flex;
    flex-direction: column;
}

.calculator-display {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    border: black solid 1px;
    background-color: white;
    margin: 16px 16px;
    flex: 0;
}

